streamlit==1.28.0
streamlit-extras==0.2.8
opencv-python-headless==4.8.1.78
mediapipe==0.10.21
numpy==1.26.0
matplotlib==3.8.0
textblob==0.17.1
Pillow==10.0.1
scipy==1.11.3
requests==2.31.0
gdown==4.7.1
ffmpeg-python==0.2.0
